[Unit]
Description=Openstack Workflow Service

[Service]
Type=simple
User=mistral
Group=mistral

ExecStart=/usr/bin/mistral-server --server api,engine,executor --config-file /etc/mistral.conf

[Install]
WantedBy=multi-user.target
