==> /srv/pillar/keystone/token.sls <==
keystone.token: <token for admin>
keystone.endpoint: http://{{salt.saltutil.runner('pillar.show_pillar')['ips']['keystone']['private']}}:35357/v2.0/

==> /srv/pillar/mine.sls <==
# This one is required
mine_functions:
  openstack_ips:
    mine_function: network.ip_addrs
    cidr: 172.16.0.0/24

==> /srv/pillar/top.sls <==
base:
  '*':
    - mine
  'keystone*':
    - keystone.token
