{% import_yaml "yamls/nova/keystone.yaml" as keystone %}
{% import_yaml "yamls/neutron/keystone.yaml" as neutron %}
{% do keystone.keystone.users.update(neutron.keystone.users) %}
{% do keystone.keystone.services.extend(neutron.keystone.services) %}
{% do keystone.keystone.endpoints.extend(neutron.keystone.endpoints) %}
{% set keystone = salt['pillar.get']('keystone', default=keystone.keystone, merge=True) %}

{% import_yaml "yamls/nova/postgres.yaml" as postgres %}
{% set postgres = salt['pillar.get']('postgres', default=postgres.postgres, merge=True) %}

{% import_yaml "yamls/openstack/rabbitmq.yaml" as openstack %}
{% set rabbitmq = salt['pillar.get']('rabbitmq', default=openstack.rabbitmq, merge=True) %}
