{% import_yaml "yamls/glance/keystone.yaml" as keystone %}
{% set keystone = salt['pillar.get']('keystone', default=keystone.keystone, merge=True) %}

{% import_yaml "yamls/glance/postgres.yaml" as postgres %}
{% set postgres = salt['pillar.get']('postgres', default=postgres.postgres, merge=True) %}
